<!DOCTYPE html>
<html lang="en">
<!-- 
Author: Klein Cairney
Student ID:S2140472
-->
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register | Glasgow Food Share</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/loginAndregister.css" rel="stylesheet">
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="text-center bg-dark" style="color: white;">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <main class="form-signin">
            <form action="/login" method="post">
                <img src="/images/logo.jpg" width="120" height="110"><br>
                <h1 class="h3 mb-3 fw-normal">Continue your foood sharing journey:</h1>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Username" required>
                    <label for="floatingUsername">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="mb-3">
                    <p class="h5 mb-3 fw-normal">Don't have an account? <a href="/register">Register here</a>.</p>
                </div>
                <button class="w-85 btn-primary btn btn-lg btn-light fw-bold border-white" type="submit">Log In</button>
                <p class="mt-5 mb-3 text-muted">© 2023-2024</p>
            </form>
        </main>
    </div>
</body>
</html>