html,
body {
  height: 100%;
}

.form-signin {
  max-width: 400px; /* Or any other width you prefer */
}

.form-floating > label {
  color: white; /* Make floating labels white */
}

.form-control:focus ~ label {
  color: white; /* Keep labels white on input focus */
}

.form-control {
  background-color: transparent; /* Make input fields transparent */
  border: 1px solid white; /* Add a white border to input fields */
  color: white; /* Make input text white */
  width: calc(100% - 1rem); /* Adjusted width */
}

.form-control::placeholder {
  color: white; /* Make placeholder text white */
  opacity: 1; /* Make placeholder fully visible */
}

.form-control:focus {
  color: white;
  background-color: transparent;
  border-color: white;
}